/**************TAG SECTION******************/




body {
  text-align: center;
  font-family: 'Open Sans', serif;
}


div {
  margin: 0;
}

img {
  height: 200px;
  max-width: 75%;
  border-radius: 20px;
  margin: auto;
}


/*--------CLASS SECTION--------*/

.contact {
  margin: auto;
}

.container-fluid {
  padding: 0;
}

.body2 {
  padding: 3px;
}

.footer {
  margin: auto;
}

.goals-paragarph {
  border: solid 1px;
  padding: 15px 10px;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
}

.key4 {
  margin-top: 15px;
}

.main-body {
  background-color: #eaeaea;
  padding: 10px;
  border: solid;
  border-width: 1px 0;
  /*background-image: url("dance_bg1.jpg");
  background-size: cover;*/
}

.logo {
  image-resolution: 100px;
}

.logo1, .quote1 {
  margin: auto;
}

/*

.ytsd-1 {
  position: relative;
  display: inline-block;
  left: 100px;
  padding-right: 100px;
  text-align: center;

}

.header-paragraph {
  position: absolute;
  display: inline-block;
  left: 614px;
  margin: 120px 0 0 0;
  font-family: 'Neuton', serif;
  width: auto;
}

*/
